<div class="container" ng-controller="LoginCtrl">
  <div class="loginForm">
      <div class="panel panel-default loginForm">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Registration</strong></h3>
        </div>
        <div class="panel-body">
          <form role="form" name="form" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1">Email:</label>
              <div class="input-group">
                <span class="input-group-addon">
                   <i class="glyphicon glyphicon-envelope"></i>
                </span> 
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required ng-model="email" ng-class="{'error-input-border' : form.email.$invalid && form.$submitted}">
              </div>
              <div class="error-div ng-hide" ng-show="(form.email.$invalid || registerUserErrors.has('email')) && form.$submitted">
                <span style="visibility:hidden;">_</span>
                <span ng-show="form.email.$invalid">Please provide a valid email address</span>
                <span ng-show="registerUserErrors.has('email') && !form.email.$invalid">{{registerUserErrors.get('email')}}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Username:</label>
              <div class="input-group">
                <span class="input-group-addon">
                   <i class="glyphicon glyphicon-user"></i>
                </span> 
                <input type="username" class="form-control" id="username" name="username" placeholder="Username" required ng-model="username" ng-class="{'error-input-border' : form.username.$invalid && form.$submitted}">
              </div>
              <div class="error-div ng-hide" ng-show="(form.username.$error.required || registerUserErrors.has('username')) && form.$submitted">
                <span style="visibility:hidden;">_</span>
                <span ng-show="form.username.$error.required">Username required</span>
                <span ng-show="registerUserErrors.has('username') && !form.username.$error.required">{{registerUserErrors.get('username')}}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <div class="input-group">
                <span class="input-group-addon">
                   <i class="glyphicon glyphicon-lock"></i>
                </span> 
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required ng-minlength="5" ng-model="password" ng-class="{'error-input-border' : form.password.$invalid && form.$submitted}">
              </div>
                <div class="error-div ng-hide" ng-show="form.password.$invalid && form.$submitted">
                  <span style="visibility:hidden;">_</span>
                  <span>Password required (at least 5 characters)</span>
                </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm password:</label>
              <div class="input-group">
                <span class="input-group-addon">
                   <i class="glyphicon glyphicon-lock"></i>
                </span> 
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" ng-model="confirmPassword" pw-check="password" ng-class="{'error-input-border' : form.confirmPassword.$error.pwmatch && form.$submitted}">
              </div>
              <div class="error-div ng-hide" ng-show="form.confirmPassword.$error.pwmatch && form.$submitted">
                <span style="visibility:hidden;">_</span>
                <span>Passwords don't match</span>
              </div>
            </div>
            <button type="submit" class="btn btn-success" ng-click="register(form)" ng-disabled="registerButtonDisable">Register</button>
            <a href="#/sigin" onClick="" style="margin-left: 30px;">Sign in</a>
          </form>
        </div>
      </div>
  </div>
</div>